/* pading and margin to 0 and border-box in place */

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*------------------------------------------ Images */

body {
    background-image: url(../images/logo-color-crop.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}